body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  background: #0b0f0c;
  color: #fff;
}

/* NAVBAR */
.navbar {
  display: flex;
  justify-content: space-between;
  padding: 15px 20px;
  background: #111;
  position: sticky;
  top: 0;
}

.navbar nav a {
  margin: 0 10px;
  text-decoration: none;
  color: #aaa;
}

.actions a {
  margin-left: 10px;
  font-size: 18px;
}

/* SECTIONS */
.section {
  padding: 60px 20px;
  margin: 20px;
  border-radius: 20px;
  background: #121712;
}

/* HERO */
.hero {
  text-align: center;
}

.profile {
  width: 150px;
  border-radius: 50%;
  margin-bottom: 20px;
}

/* TITRES */
h1 span {
  color: #00ff88;
}

h2 {
  margin-bottom: 20px;
}

/* TAGS */
.tags span {
  display: inline-block;
  padding: 8px 12px;
  margin: 5px;
  background: #1a201a;
  border-radius: 20px;
}

/* CARDS */
.card {
  background: #1a201a;
  padding: 20px;
  margin-bottom: 15px;
  border-radius: 15px;
}

/* CONTACT */
.contact a {
  display: block;
  margin: 10px 0;
  text-decoration: none;
  color: #00ff88;
}
