/* HAMBURGER */
.hamburger {
  font-size: 24px;
  cursor: pointer;
  display: none;
}

/* MENU MOBILE */
#menu {
  display: flex;
}

/* MOBILE VERSION */
@media (max-width: 768px) {

  .navbar {
    align-items: center;
  }

  .hamburger {
    display: block;
  }

  #menu {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 60px;
    left: 10px;
    background: #121712;
    padding: 15px;
    border-radius: 10px;
  }

  #menu a {
    margin: 10px 0;
  }

  #menu.active {
    display: flex;
  }

  .actions {
    margin-left: auto;
  }
}
